<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragmentos/layout">
<div th:fragment="conteudo">
  <div class="container">
    <h1>Lista de alunos</h1>
   
    <table class="table table-dark table-hover">
      <tr>
        <th>Nome</th>
        <th>Data de nascimento</th>
        <th>Matricula</th>
        <th>Nome da mãe</th>
        <th>Data da matrícula</th>
        <th>Ações</th>
      </tr>
      <tr th:each="aluno:${lista}" th:object="${aluno}">
        <td th:text="*{usuario.nome}">1</td>
        <td th:text="*{#dates.format(usuario.dataNasc,'dd/MM/yyyy')}">2</td>
        <td th:text="*{matricula}">3</td>
        <td th:text="*{nomeMae}">4</td>
        <td th:text="*{#dates.format(dataMatricula,'dd/MM/yyyy')}">5</td>
        <td>
          <a th:href="@{/editar-aluno(id=*{usuario.login})}">Editar</a>
          <a th:href="@{/excluir-aluno(id=*{usuario.login})}">Excluir</a>
        </td>
      </tr>
    </table>
  </div>
</div>

</html>